{% extends 'default/base.html' %}
{% load static %}
{% block main-content %} 
<section class="clean-block clean-form dark">
    <div class="container">
        <div class="block-heading">
            <h2 class="text-info">Contact Us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
        </div>
       
          
        <form method="POST">
            {% for message in messages %}
            <div class="alert alert-success mx-auto text-center" role="alert">
                {{message}}
              </div>
              {% endfor %}
            {% csrf_token %}
            <div class="mb-3"><label class="form-label required" for="name">Name</label><input class="form-control" type="text" id="name" name="name"></div>
            <div class="mb-3"><label class="form-label required" for="subject">Subject</label><input class="form-control" type="text" id="subject" name="subject"></div>
            <div class="mb-3"><label class="form-label required" for="email">Email</label><input class="form-control" type="email" id="email" name="email"></div>
            <div class="mb-3"><label class="form-label required" for="message">Message</label><textarea class="form-control" id="message" name="message"></textarea></div>
            <div class="mb-3"><button class="btn btn-primary required" type="submit">Send</button></div>
        </form>
    </div>
</section>
{% endblock main-content %}