{% extends 'default/base.html' %}
{% load static %}
{% block main-content %} 
<section class="clean-block clean-form dark">
    <div class="container">
        <div class="block-heading">
            <h2 class="text-info">WELCOME BACK!</h2>
            <p>Login to your account...</p>
        </div>
        <form method="POST">
            {% csrf_token %}
            {% for message in messages %}
            <div class="alert alert-info mx-auto text-center" role="alert">
                {{message}}
              </div>
              {% endfor %}
            <div class="mb-3"><label class="form-label required" for="name">Email</label><input class="form-control" type="email" id="name" name="email"></div>
            <div class="mb-3"><label class="form-label required" for="subject">Password</label><input class="form-control" type="password" id="subject" name="password"></div><button class="btn btn-primary btn-lg text-start" type="submit" style="padding: 8px 16px;">LOGIN</button>
            <div></div>
            <div class="mb-3"></div>
            <div class="mb-3"></div>
        </form>
    </div>
</section>
{% endblock main-content %}