{% extends 'default/base.html' %}
{% load static %}
{% block main-content %} 

<section class="clean-block clean-form dark">
    <div class="container">
        <div class="block-heading">
            <h2 class="text-info">Register</h2>
            <p>Set your account to start your health journey with us!</p>
        </div>
        <div id="app">
        <form method="POST">

            {% csrf_token %}
            {% for message in messages %}
            <div class="alert alert-info mx-auto text-center" role="alert">
                {{message}}
              </div>
              {% endfor %}


              <div  class="mb-3"><label class="form-label required">Email</label><input class="form-control" type="email" name="email" required></div>
              <div  class="mb-3"><label class="form-label required">First Name</label><input class="form-control" type="text" name="fn" required></div>
              <div  class="mb-3"><label class="form-label">Last Name</label><input class="form-control" type="text" name="ln" ></div>
            
              <div  class="mb-3"><label class="form-label required">Date of Birth</label><input class="form-control" type="date" name="dob" required></div>
            
            <div  class="mb-3"><label class="form-label required">Contact no</label><input class="form-control" type="text" name="contact" required></div>
            <div  class="mb-3"><label class="form-label required">Set Password</label><input class="form-control" type="password" name="pass1" required ></div>
            <div  class="mb-3"><label class="form-label required">Confirm Password</label><input class="form-control" type="password" name="pass2" required  ></div>
           
            <div class="mb-3"><label class="form-label required" for="message">Designation(Patient/Doctor)</label> <select class="mb-3 form-select" aria-label="Default select example" name="select">
                <option value="1" selected>Patient</option>
                <option value="2">Doctor</option>
                
              </select></div> 
           
            <div class="mb-3"><button v-on:click="getdata()" class="btn btn-primary" type="submit">Register</button></div>
        
        </form>
    </div>
    </div>
</section>


  
{% endblock main-content %}